@import '../shared/variables.scss';

.ContentSection{

	margin: 0 auto;
	max-width: $break-lg;

	&__header{
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		padding: 15px 0;
	}

	&__title{}

	&__control{
		margin: 0;
		padding: 0;
		list-style: none;

		&-item{
			display: inline-block;
		}
	}
}