$break-lg: 960px;
$break-md: 640px;
$break-sm: 480px;

.ScrollableList{

	padding: 0;
	margin: 0;
	list-style: none;
	display: flex;
	flex-flow: row nowrap;
	overflow-x: hidden;

	&__item{
		position: relative;
		margin: 0 10px 0 0;
		flex-grow: 1;
		flex-shrink: 0;
		width: calc(20% - 10px);

		&:last-child{
			margin: 0;
		}

		// 4 per row.
		@media (max-width: $break-lg) {
			width: calc(25% - 10px);
		}

		// 3 per row.
		@media (max-width: $break-md) {
			width: calc(33.333% - 10px);
		}

		// 2 per row.
		@media (max-width: $break-sm) {
			width: calc(50% - 10px);
		}

	}
}