@import '../shared/variables.scss';

.Stepper{

	margin: 0;
	padding: 0;
	list-style: none;

	@media (max-width: $break-sm) {
		display: none;
	}

	&__item{
		display: inline-block;
		cursor: pointer;
		-moz-user-select: none;
		-ms-user-select: none;
		-webkit-user-select: none;
	}

	&__button{
		padding: 10px;

		&:hover{
			color: $color-body-hover;
		}		
	}
}