@import "~normalize.css/normalize.css";
@import './shared/variables.scss';

*{
	box-sizing: border-box;
}

body{
	font-family: 'Lato';
	font-weight: 400;
	font-size: 16px;
	line-height: 22px;
	color: $color-body;
	background: #181818;
}