@import '../shared/variables.scss';

.Header{
	background: #777;
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	height: 40px;

	&__button{
		background: transparent;
		border: none;
		font-size: 28px;
		cursor: pointer;
		padding: 5px 20px;

		@media (min-width: $break-lg) {
			display: none;
		}
	}
}